<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current Time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href = "assets/css/bootstrap.min.css" rel = "stylesheet">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="assets/mystyles.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    
</head>
<body>
   <div class="container">
        <h2 >Current time</h2>
        <p>{{ sporocilo }}</p>
        
    </div>
   
   
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>