<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../assests/css/mystyles.css">
</head>
<body>
    <div class="row">

               <div class="col-md-12 text-center">

                   <h2 class="center-block">Simpl Kalkulator</h2>

               </div>
              
    </div>
            
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="row">

               <div class="col-md-12 text-center">

                    <form method="post" action="/">
                        <input name="first_number" placeholder="vnesi prvo število">
                        <input name="second_number" placeholder="vnesi drugo število">
                        <div class="row">

                           <div class="col-md-12 text-center">

                               <h3 class="center-block">Izberi operacijo</h3>

                           </div>
              
                        </div>
                        <div class="row">

                           <div class="col-md-12 text-center">
                                <button name="addition"  class="btn btn-default center-block" type="submit">+</button>
                                <button name="subtraction" class="btn btn-default center-block" type="submit">-</button>
                                <button name="multiplication" class="btn btn-default center-block" type="submit">*</button>
                                <button name="division" class="btn btn-default center-block" type="submit">/</button>

                           </div>
                        </div>
                    </form>

               </div>
            </div>
            
            
        </div>
    </div>
    <div class="row">

               <div class="col-md-12 text-center">
                    <h2>Rezultat</h2>
                    <h2 class="center-block">{{ result }}</h2>
               </div>
              
    </div>
</body>
</html>