<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage | Tadej</title>  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href = "assets/css/bootstrap.min.css" rel = "stylesheet">
    <link rel="stylesheet" href="/assets/style.css">
</head>

<body>
     <div class = "navbar navbar-inverse navbar-static-top">
        <div class="container">
           <dev class="navbar-header"><a href = "/" class = "navbar-brand">My HomePage</a></dev>
            
            
            <button class="navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                 <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
               
            <div class="collapse navbar-collapse navHeaderCollapse">
                
                <ul class = "nav navbar-nav">
                    <li class = "active"><a href = "/">Domov</a></li>
                    <li><a href = "/about">O meni</a></li>
                    <li><a href = "/projects">Moji projekti</a></li>
                    <li><a href = "/blog">Blog</a></li>
                    <li><a href = "/contact">Kontakt</a></li>    
                </ul>
                
            </div>
        </div>
    </div>
    
    <div class="container">
       
       <div class="row">
           
           <div class="col-md-2">
             
           </div>
           <div class="col-md-8">
             <h3><a id="violet" href="#">There are no clocks in Las Vegas gambling casinos.</a></h3>
                <p>Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku 16. stoletja.</p>
           </div>
           <div class="col-md-2">
             
           </div>
       </div>
       
        <div class="row">
           
           <div class="col-md-2">
             
           </div>
           <div class="col-md-8">
             <h3><a id="blue" href="#">Stewardesses is the longest word typed with only the left hand.</a></h3>
                <p>Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku 16. stoletja.</p>
           </div>
           <div class="col-md-2">
             
           </div>
       </div>
       <div class="row">
           
           <div class="col-md-2">
             
           </div>
           <div class="col-md-8">
             <h3><a id= "skyblue" href="#">Shakespeare invented the word “assassination” and “bump.”</a></h3>
                <p>Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku 16. stoletja.</p>
           </div>
           <div class="col-md-2">
             
           </div>
       </div>
       
       <div class="row">
           
           <div class="col-md-2">
             
           </div>
           <div class="col-md-8">
             <h3><a id="green" href="#">A duck’s quack doesn’t echo, and no one knows why.”</a></h3>
                <p>Lorem Ipsum je slepi tekst, ki se uporablja pri razvoju tipografij in pri pripravi za tisk. Lorem Ipsum je v uporabi že več kot petsto let saj je to kombinacijo znakov neznani tiskar združil v vzorčno knjigo že v začetku 16. stoletja.</p>
           </div>
           <div class="col-md-2">
             
           </div>
       </div>
        
        
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
    $(function() {

      $(".nav li").on("click", function() {
        $(".nav li").removeClass("active");
        $(this).addClass("active");
      });

    });
    </script>  
    
    <script src="assets/js/bootstrap.js"></script>
</body>
</html>